{% extends 'base.html.twig' %}
{% block meta %}
    <meta http-equiv="refresh" content="5" />
{% endblock %}

{% block title %}Link index{% endblock %}

{% block body %}
    <h1>Link index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>State</th>
                <th>CreatedOn</th>
                <th>HttpStatus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.link }}</td>
                <td>{{ link.state }}</td>
                <td>{{ link.createdOn ? link.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ link.httpStatus }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('link_show', {'id': link.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('link_new') }}">Create new</a>
{% endblock %}
